HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Created Characters ###
/src/main/**/dataBase/
!/src/main/**/dataBase/Chase---Kingsman.txt
!/src/main/**/dataBase/Joe---Jenkins.txt
!/src/main/**/dataBase/Mike---Trashold.txt

### Dungeon Map Generator ###
**/dungeonMapGenerator/txt
**/dungeonMapGenerator/webStuff/debug
