* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.container {
    background-image: url("../images/backgroundCreator.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.content {
    position: absolute;
    top: 5%;
    left: 5%;
    height: 80vh;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.5);
}

.box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
}

.classImg img {
    height: 100px;
    width: 100px;
    cursor: pointer;
    transition: 0.3s;
}

.classImg:hover img {
    height: 120px;
    width: 130px;
}

/* .selection {
    background-color: blue;
} */

.selection-primary {
    background-color: none
}

.selection-success {
    background-color: green;

}

.disabled {
    pointer-events: none;
    opacity: 0.5;
    background: grey;
}