@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #2f2f31;
    background-image: url("../images/encounterBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.backpack {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(10, 145px);
    align-items: center;
    justify-content: center;
}

.backpack-item {
    width: 145px;
    height: 145px;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
}

.equipment-slot {
    width: 145px;
    height: 145px;
    font-size: 15px;
    text-align: center;
    display: table-row;
    vertical-align: middle;
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.container-silhouette {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
}

.container-silhouette img {
    height: 435px;
}

.container-inner {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.left {
    justify-items: right;
}

.left img {
    width: 145px;
    height: 145px;
}

.right {
    justify-items: left;
}

.right img {
    justify-items: left;
    width: 145px;
    height: 145px;
}

.container:last-child {
    justify-items: left;
}

.empty-box {
    position: relative;
}

.empty-box .inner-pics {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
}

.save-button {
    background-color: #0d0e03;
    border-radius: 10px;
    border: 1px solid #47531a;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 16px 31px;
    text-transform: uppercase;
    text-shadow: 0px 1px 0px #2f6627;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.save-button:hover {
    background-color: #7a7919;
}

.save-button:active {
    position: relative;
    top: 1px;
}