* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/Equipment/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.backpack-item {
    float: left;
    width: 145;
    height: 145;
    background-color: #fff;
    font-size: 15px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.equipment-slot {
    float: left;
    width: 145;
    height: 145;
    background-color: #fff;
    font-size: 15px;
    text-align: center;
    display: table-row;
    vertical-align: middle;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.container-silhouette{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
}

.container-silhouette img{
    height: 435px;
}

.container-inner {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.left {
    justify-items: right;
}

.right {
    justify-items: left;
}

.container:last-child {
    justify-items: left;
}