:root {
  --height: 1;
  --width: 1;
}

img {
    width: 100px;
    height: 100px;
}

.inner-container {
    position: relative;
    top: 0;
    left: 0;
}

.background-images{
    z-index: 1;
    position: relative;
}

.hero-images{
    position: absolute;
    transition: 0.2s ease-in-out;
}

.hero-images:hover {
	/* width: 200px;
	height: 200px;
	margin-top: -130px;
	margin-left: -130px;
	top: 65%;
    left: 65%; */
    transform: scale(1.2);
}

.wrapper {
    display: grid;
    grid-template-rows: repeat(var(--height), 100px);
    grid-auto-flow: column;
    grid-auto-columns: 100px;
}

.wrapper > div {
    /* border: 2px solid #202020; */
    border-radius: 5px;
    background-color: #c0c0c0;
    color: #b6b6b6;
}
