:root {
  --height: 1;
  --width: 1;
}

.wrapper {
    display: grid;
    grid-template-rows: repeat(var(--height), 100px);
    grid-auto-flow: column;
    grid-auto-columns: 100px;
}

.wrapper > div {
    border: 2px solid #202020;
    border-radius: 5px;
    background-color: #c0c0c0;
    color: #b6b6b6;
}
