html,
body,
.container {
    width: 100%;
    height: 100%;
    min-width: 500px;
    min-height: 500px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Berkshire Swash', Arial, cursive, sans-serif;
    color: white;
}

#cloud-intro {
    position: relative;
    height: 100%;
    background: url("../images/menuBackground/layers/clouds_1.png"),
        url("../images/menuBackground/layers/clouds_2.png"),
        url("../images/menuBackground/layers/ground_1.png"),
        url("../images/menuBackground/layers/ground_2.png"),
        url("../images/menuBackground/layers/ground_3.png"),
        url("../images/menuBackground/layers/plant.png"),
        url("../images/menuBackground/layers/rocks.png"),
        url("../images/menuBackground/layers/sky.png");

    animation: wind 50s linear infinite;
    animation-fill-mode: forwards;
}

.menu-container {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5%;
    margin: 10%;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
}

a:hover {
    color: darkblue;
    background-color: rgba(255, 255, 255, 0.5);
}

@keyframes wind {
    0% {
        background-position: -10% 0, -10% 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0;
    }

    100% {
        background-position: 500% 0, 550% 0, 0 0, 0 0, 0 0, 0 0, 0 0, 120% 0;
    }

}