:root {
    --toolbar-height: 15vh;
    --toolbar-padding: 1vh;
    --toolbar-space: calc(var(--toolbar-height) - var(--toolbar-padding) * 2)
}

.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* overflow: hidden; */
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: var(--toolbar-height);
    margin-top: 5vh;
    box-shadow: inset 0 0 20px #000000;
    padding: var(--toolbar-padding);
}

/* #main-menu { */
.menu {
    width: var(--toolbar-height);
    padding: var(--toolbar-padding);
    background-color: #333;
    position: fixed;
    right: 0px;
    bottom: calc(var(--toolbar-height) + var(--toolbar-padding)/2);
    /* bottom: calc(var(--toolbar-height)); */
    border-top-left-radius: calc(var(--toolbar-padding)*1);
    border-bottom-left-radius: calc(var(--toolbar-padding)*1);
    box-shadow: inset 0 0 20px #000000;

    transition: transform 0.3s;
    z-index: 1;
    /* transform: translateX(var(--toolbar-height)); */
}

/* #main-menu.hidden { */
.menu.hidden {
    transform: translateX(100%);
}

/* #main-menu.partial { */
.menu.partial {
    transform: translateX(calc(100% - var(--toolbar-padding) + 1px));
}

.toolbar-group {
    /* border: solid 10px red; */
    position: relative;
    height: var(--toolbar-space);
}

.button {
    /* box-sizing: border-box; */
    user-select: none;
    padding: 0 0.5em;
    /* width: calc(var(--toolbar-space)); */
    height: 100%;
    width: 100%;
    border-radius: calc(var(--toolbar-padding)/2);
    background-color: #bbb;
    /* border-color: -internal-light-dark(rgb(180, 21, 21), rgb(204, 17, 17)); */

    transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.button-floating {
    position: absolute;
    max-width: var(--toolbar-space);
    left: var(--toolbar-padding);
    bottom: var(--toolbar-padding);
    transform: translateX(calc(-100% - 2px));
    transition: transform 0.3s;
    z-index: -1;
}

.button-floating.hidden {
    transition: transform 0.3s;
    transform: translateX(0);
}

.button:focus {
    outline: 0;
}

.button:enabled:hover {
    cursor: pointer;
    background-color: #ccc;
    border-color: skyblue;
    box-shadow: 0 0 5px 0px skyblue;
}

.button.button-delete:enabled:hover {
    border-color: red;
    box-shadow: 0 0 5px 0px red;
}

.button:enabled:active {
    background-color: #fff;
}


.button:disabled {
    /* background-color: #959595; */
    background-color: #444;
    color: #222;
}

.button.button-stacked {
    width: 100%;
    height: calc(var(--toolbar-space)/3);
    /* flex-shrink: 0; */
}

.separator-h {
    width: 100%;
    height: calc(var(--toolbar-padding) * 1);
    min-height: calc(var(--toolbar-padding) * 1);
}

.separator-v {
    height: 100%;
    min-width: calc(var(--toolbar-padding) * 1);
}

#menu-group {
    width: var(--toolbar-space);
}

#move-party-btn {
    /* display: none; */
    z-index: 1;
    position: fixed;
    /* height: calc(var(--toolbar-space)); */
    transition: all 0.4s, transform 0.4s;
    /* transition: transform 0.4s; */

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#spawn-party-btn {
    /* display: none; */
    z-index: 1;
    /* position: fixed; */
    /* height: calc(var(--toolbar-space)); */
    transition: all 0.4s, transform 0.4s;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* transition: transform 0.4s; */
}

#move-margin {
    /* pointer-events: none; */
    pointer-events: painted;
    position: absolute;
    bottom: 0;
    left: 0;
    /* height: calc(var(--toolbar-height) * 1.2); */
    height: 100%;
    /* width: calc(var(--toolbar-height) * 1.2); */
    width: 100%;
    transform: scale(2);
    /* border: solid 1px yellow; */
}

.move-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: var(--toolbar-space);
    transition: 1s;
    /* border: solid 1px red; */
}

.move-container-hover:hover {
    opacity: 1;
}

.menu-flex {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: var(--toolbar-space);
    height: 100%;
    /* border: solid 2px white; */
}

#action-group {
    position: relative;
    /* height: var(--toolbar-space); */
    width: calc(2 * var(--toolbar-space) + var(--toolbar-padding));
    /* border: solid 1px white; */
}

#action-margin {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* border: solid 1px red; */
}

#actions-container {
    display: flex;
    /* border: solid 20px red; */
    height: 100%;
    width: 100%;
}

#action-btn {
    position: absolute;
    transition: all 0.6s, opacity 0.3s;
    /* width: calc(2 * var(--toolbar-space)); */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

#action-btn-1, #action-btn-2 {
    /* transform: scale(0.9); */
    transition: 0.3s;
}

#action-group.active:hover #action-btn {
/* #action-group:hover #action-btn { */
    /* transform: translateY( calc(var(--toolbar-space) * -1)); */
    opacity: 0;
    pointer-events: none;

    /* animation-name: hide-opacity;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; */
}

/* #action-group.active:hover #action-btn-1 { */
#action-group:hover #action-btn-1 {
    /* transform: translateY( calc(var(--toolbar-space) * -1)); */
    /* pointer-events: none; */
    /* transform: scale(1); */
    
    /* z-index: 1; */

    /* animation-name: left-to-right;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; */
}

/* #action-group.active:hover #action-btn-2 { */
#action-group:hover #action-btn-2 {
    /* transform: translateY( calc(var(--toolbar-space) * -1)); */
    /* pointer-events: none; */
    /* transform: scale(1); */
    
    /* z-index: 1; */

    /* animation-name: right-to-left;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; */
}

#action-group:hover #action-margin {
    transform: scaleY(1.4) scaleX(1.2);
    z-index: -1;
}

#action-btn-1:hover, #action-btn-2:hover {
    /* background-color: red; */
}


@keyframes hide-opacity {
    40% {
        opacity: 1;
        transform: scale(1);
    }
    70%{
        /* opacity: 1; */
        transform: scale(0.9);
    }
    100%{
        opacity: 0.0;
        pointer-events: none;
        transform: scale(0.9);
    }
}

@keyframes left-to-right {
    0% {
         transform: scale(0.7); 
    }
    40% {
        transform: scale(0.7) translateX(calc((var(--toolbar-space)+var(--toolbar-padding))* -1.2));
        /* transform: scale(0.7); */
    }
    60% {
        transform: translateX(calc((var(--toolbar-space)+var(--toolbar-padding))* -1.0));
    }
    100% {
        z-index: 1;
    }
}

@keyframes right-to-left {
    0% {
        transform: scale(0.7);
    }
    40% {
        transform: scale(0.7) translateX(calc((var(--toolbar-space)+var(--toolbar-padding))* 1.2));
    }
    60% {
        transform: translateX(calc((var(--toolbar-space)+var(--toolbar-padding))* 1.0));
    }
    100% {
        z-index: 1;
    }
}

#move-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    height: 100%;
    width: 100%;
    min-width: 0;
    /* border: solid 1px white; */
    transition: 0.5s;
}

.move-container-hover:hover #move-grid {
    height: 100%;
    width: var(--toolbar-space);

}

.move-container-hover:hover #move-up {
    transform: translate(0, -100%) rotate(-90deg);
}

.move-container-hover:hover #move-left {
    transform: translate(-100%, 0) rotate(-180deg);
}

.move-container-hover:hover #move-right {
    transform: translate(100%, 0);
}

.move-container-hover:hover #move-down {
    transform: translate(0, 100%) rotate(90deg);
}

.move-container-hover:hover .move-img {
    opacity: 0.15;
}

.move-container-hover:hover #move-party-btn {
    transform: translate(calc(var(--toolbar-space) + var(--toolbar-padding)));
}

#move-right {
    z-index: 1;
}

#move-left {
    transform: rotate(180deg);
}

.move-img {
    pointer-events: none;
    user-select: none;
    width: 50%;
    opacity: 1;
    transition: 0.5s;
}

.move-button {
    /* box-sizing: border-box; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: steelblue;
    height: 100%;
    left: 100px;
    /* min-height: 20px; */
    /* padding: 0 1em; */
    /* margin: 10px; */
    /* grid-area: 2 / 2 / 3 / 3; */
    grid-row-start: 2;
    grid-column-start: 2;
    transition: transform 0.6s;
    /* transition: 0.5s; */
    /* transition: background-image 0.5s; */
    /* background-image: url('../images/dungeonMap/diamond.svg'); */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* box-shadow: 0 0 10px 0px #000; */
    /* background-size: cover; */
    /* transform: scale(5); */
}

.move-button:hover {
    border: white 2px solid;
    box-shadow: 0 0 10px 0px #000;
}

.move-button:hover>.move-img {
    opacity: 1;
    filter: drop-shadow(0 0 4px rgb(255, 255, 255));
}

.move-button:active,
.move-button-active {
    border: white 2px solid;
    background-color: skyblue;
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.5);
}

.move-button-blocked {
    background-color: brown;
}

.move-button-blocked:hover {
    border: rgb(255, 255, 255) 2px solid;
}

.move-button-blocked:active,
.move-button-blocked-active {
    border: rgb(255, 255, 255) 2px solid;
    background-color: rgb(226, 16, 16);
    box-shadow: 0 0 10px 0px rgb(255, 0, 0);
}



/* poniżej demo animowanej obramówki, gdzie obramowanie jest widoczne tylko na rogach kratki*/
/* :root {
    --border-width: 3px;
    --corner-size: 10px;
    --border-color: red;
}

.box-corners {
    position: relative;
}

.box-corners::before,
.box-corners::after {
    content: "";
    position: absolute;
    width: var(--corner-size);
    height: var(--corner-size);
    border: var(--border-width) solid var(--border-color);
}

.box-corners::before {
    left: 0;
    top: 0;
    border-bottom: none;
    border-right: none;
}

.box-corners::after {
    bottom: 0;
    right: 0;
    border-left: none;
    border-top: none;
}

.box-corners {
    transition: background-color 0.3s ease-in-out;
}


.box-corners:hover {
    background: rgba(0, 0, 0, 0.5) !important;
}

.box-corners::before,
.box-corners::after {
    box-sizing: border-box;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.box-corners:hover::before,
.box-corners:hover::after {
    width: 100%;
    height: 100%;
} */