* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-height: 100vh;
    background-image: url("../images/merchant/1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
}


.image__container img {
    width: 80vw;
    margin-left: -10vw;

}

.button__container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: -10vw;

}

a,
button {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 10px;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vw;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.gossip {
    visibility: hidden;
    color: white;
    font-size: 36px;
}

a:hover {
    color: rgb(238, 213, 130);
}

.btn-gossip:hover~.gossip {
    visibility: visible;
}