* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-height: 100vh;
    background-image: url("../images/merchant/1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.merchant__image img {
    /* position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%); */
    width: 70vw;
}