<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Project</title>
    <link rel="stylesheet" href="../css/aboutProjectStyle.css">
</head>

<body>
    <div class="container">
        <h1>Meet the Javengers!</h1>
        <div class="szymon">
            <h3>Szymon "shivvinn" Ilnicki</h3>
            <div class="content">
                <img src="../images/photo/szymon.png" alt="szymon">
                <h4>Java Developer, Scrum Master, Product Owner, Tester, HeKnowsEverything-Guy</h4>
            </div>

        </div>
        <div class="ewa">
            <h3>Ewa "eletariel" Ilnicka</h3>
            <div class="content">
                <img src="../images/photo/ewa.png" alt="ewa">
                <h4>Frontend Developer, UX/UI Designer, Tester, ItMustBePretty-Girl</h4>
            </div>
        </div>
        <div class="karolina">
            <h3>Karolina "drozenka" Basta-Drozen</h3>
            <div class="content">
                <img src="../images/photo/karolina.png" alt="karolina">
                <h4>Java Developer, Tester, Beginner Fronted Developer, IDontActuallyPlayGamesLikeThis-Girl</h4>
            </div>
        </div>
        <div class="konrad">
            <h3>Konrad "konrad" Kotyła</h3>
            <div class="content">
                <img src="../images/photo/konrad.png" alt="konrad">
                <h4>Java Developer, Tester, Beginner Fronted Developer, IWillRecordThisMeeting-Guy</h4>
            </div>
        </div>
        <div class="malgorzata">
            <h3>Małgorzata "małgoro" Zdebel</h3>
            <div class="content">
                <img src="../images/photo/gosia.png" alt="malgorzata">
                <h4>Java Developer, Tester, Beginner Fronted Developer, ItWillWorkSomehowIKnowItWill-Girl</h4>
            </div>
        </div>
        <div class="tomasz">
            <h3>Tomasz "lewy" Lewandowski</h3>
            <div class="content">
                <img src="../images/photo/lewy.png" alt="tomasz">
                <h4>Java Developer, Tester, Beginner Fronted Developer, ImHereOnlyToWatch-Guy</h4>
            </div>
        </div>
    </div>
</body>

</html>