<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/mapStyle.css">
    <link rel="stylesheet" href="../css/mapStyleToolbar.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script th:inline="javascript">
        const mapHeightThyme = [[${height}]];
        const mapWidthThyme = [[${width}]];
        const partyVisibilityRadius = [[${radius}]];
    </script>
    <script src="../jsDungeonMap/dungeonMap.js" defer type="module"></script>
    <!-- defer ładuje skrypt dopiero po załadowaniu strony, module umożliwia import/export w JSie-->
</head>

<body>
    <div id="container-grid">
        <div class="blank"></div>
        <div class="coordinate-legend" id="coord-top">
            <div class="blank" th:style="'grid-area: 1 / 1 / 2 / ' + ${colNumbers[colNumbers.length - 1] + 2}"></div>
            <th:block th:each="colNo: ${colNumbers}">
                <div th:id="'col-' + ${colNo}" th:class="'tile-legend'"
                    th:style="'grid-area: 1 / ' + ${colNo + 1} + ' / 2 / ' + ${colNo + 2}">
                    <p th:text="${colNo}"></p>
                </div>
            </th:block>
        </div>
        <div class="coordinate-legend" id="coord-side">
            <div class="blank" th:style="'grid-area: 1 / 1 / ' + ${rowNumbers[rowNumbers.length - 1] + 2} + ' / 2'">
            </div>
            <th:block th:each="rowNo: ${rowNumbers}">
                <div th:id="'row-' + ${rowNo}" th:class="'tile-legend'"
                    th:style="'grid-area: ' + ${rowNo + 1} + ' / 1 / ' + ${rowNo + 2} + ' / 2'">
                    <p th:text="${rowNo}"></p>
                </div>
            </th:block>
        </div>
        <div class="stage-grid" id="grid">
            <th:block th:each="tile: ${tiles}">
                <div th:id="${tile.x} + '-' + ${tile.y}" th:class="'tile tile-fogged '+${tile.type}"
                    th:style="'grid-area: ' + ${tile.y+1} + '/' + ${tile.x+1} + '/' + ${tile.y+2} + '/' + ${tile.x+2} + ';'">
                </div>
            </th:block>
            <div id="cross-highlight-row" class="non-reactive"></div>
            <div id="cross-highlight-col" class="non-reactive"></div>
        </div>
        <div id="fog-background"></div>
    </div>

    <div id="toolbar" class="toolbar">
        <div id="move-group" class="toolbar-group move-container move-container-hover">
            <div id="move-margin"></div>
            <div id="move-grid">
                <div id="move-up" class="move-button"><img class="move-img" src="../images/dungeonMap/arrow.svg"></div>
                <div id="move-left" class="move-button"><img class="move-img" src="../images/dungeonMap/arrow.svg">
                </div>
                <div id="move-right" class="move-button"><img class="move-img" src="../images/dungeonMap/arrow.svg">
                </div>
                <div id="move-down" class="move-button"><img class="move-img" src="../images/dungeonMap/arrow.svg">
                </div>
                <button id="move-party-btn" class="button" disabled>Move Party</button>
            </div>
            <button id="spawn-party-btn" class="button" disabled>Spawn Party</button>
        </div>

        <div id="action-group" class="toolbar-group">
            <div id="action-margin"></div>
            <div id="actions-container">
                <button id="action-btn-1" class="button" data-action-type="action-1" disabled>Action 1</button>
                <div class="separator-v"></div>
                <button id="action-btn-2" class="button" data-action-type="action-2" disabled>Action 2</button>
            </div>
            <button id="action-btn" class="button" data-action-type="action" disabled>Actions</button>
        </div>

        <div id="menu-group" class="toolbar-group">
            <button id="menu-btn" class="button">Menu</button>
        </div>
    </div>

    <div id="main-menu" class="menu hidden">
        <!-- //TODO: dodać na górze menusów nazwę danego menu -->
        <div id="main-menu-flex" class="menu-flex">
            <button id="party-btn" class="button button-stacked">Party</button>
            <div class="separator-h"></div>
            <button id="save-q-btn" class="button button-stacked" data-slot="0">Quick Save</button>
            <div class="separator-h"></div>

            <div id="load-q-slot" class="load-slot" data-slot="0">
                <div id="load-q-labels" class="labels">
                    <div id="load-q-info" class="tooltip tooltip-info">
                        <p>INFO Quick Save</p>
                    </div>
                </div>
                <button id="load-q-btn" class="button button-stacked">Quick Load</button>
            </div>
            
            <div class="separator-h"></div>
            <button id="save-btn" class="button button-stacked">Save</button>
            <div class="separator-h"></div>
            <button id="load-btn" class="button button-stacked">Load</button>
            <div class="separator-h"></div>
            <button id="back-btn" class="button button-stacked">Back</button>
        </div>
    </div>

    <div id="save-menu" class="menu hidden">
        <div id="save-menu-flex" class="menu-flex">
            <button id="save-delete-btn" class="button button-stacked button-delete" data-status="inactive">🗑️ Delete Save 🗑️</button>
            <div class="separator-h"></div>

            <div id="save-0-slot" class="save-slot" data-slot="0">
                <div id="save-0-labels" class="labels">
                    <div id="save-0-info" class="tooltip tooltip-info">
                        <p>INFO Quick Save</p>
                    </div>
                    <div id="save-0-tooltip" class="tooltip tooltip-confirm hidden">
                        <p>Overwrite save file from Quick Slot?</p>
                    </div>
                </div>
                <button id="save-0-cancel-btn" 
                    class="button button-stacked button-sliding button-cancel" data-cancelling="save-0-btn" data-text=" Cancel ">❌</button>
                <button id="save-0-confirm-btn" class="button button-stacked button-sliding button-confirm" data-text=" OK ">✔️</button>
                <button id="save-0-btn" class="button button-stacked button-save">Quick Slot</button>
            </div>

            <div class="separator-h"></div>

            <div id="save-1-slot" class="save-slot" data-slot="1">
                <div id="save-1-labels" class="labels">
                    <div id="save-1-info" class="tooltip tooltip-info">
                        <p>INFO Save 1</p>
                    </div>
                    <div id="save-1-tooltip" class="tooltip tooltip-confirm hidden">
                        <p>Overwrite save file from Slot 1?</p>
                    </div>
                </div>
                <button id="save-1-cancel-btn"
                    class="button button-stacked button-sliding button-cancel" data-cancelling="save-1-btn" data-text=" Cancel ">❌</button>
                <button id="save-1-confirm-btn" class="button button-stacked button-sliding button-confirm" data-text=" OK ">✔️</button>
                <button id="save-1-btn" class="button button-stacked button-save">Slot 1</button>
            </div>
            
            <div class="separator-h"></div>
           
            <div id="save-2-slot" class="save-slot" data-slot="2">
                <div id="save-2-labels" class="labels">
                    <div id="save-2-info" class="tooltip tooltip-info">
                        <p>INFO Save 2</p>
                    </div>
                    <div id="save-2-tooltip" class="tooltip tooltip-confirm hidden">
                        <p>Overwrite save file from Slot 2?</p>
                    </div>
                </div>
                <button id="save-2-cancel-btn"
                    class="button button-stacked button-sliding button-cancel" data-cancelling="save-2-btn" data-text=" Cancel ">❌</button>
                <button id="save-2-confirm-btn" class="button button-stacked button-sliding button-confirm" data-text=" OK ">✔️</button>
                <button id="save-2-btn" class="button button-stacked button-save">Slot 2</button>
            </div>
            
            <div class="separator-h"></div>
           
            <div id="save-3-slot" class="save-slot" data-slot="3">
                <div id="save-3-labels" class="labels">
                    <div id="save-3-info" class="tooltip tooltip-info">
                        <p>INFO Save 3</p>
                    </div>
                    <div id="save-3-tooltip" class="tooltip tooltip-confirm hidden">
                        <p>Overwrite save file from Slot 3?</p>
                    </div>
                </div>
                <button id="save-3-cancel-btn"
                    class="button button-stacked button-sliding button-cancel" data-cancelling="save-3-btn" data-text=" Cancel ">❌</button>
                <button id="save-3-confirm-btn" class="button button-stacked button-sliding button-confirm" data-text=" OK ">✔️</button>
                <button id="save-3-btn" class="button button-stacked button-save">Slot 3</button>
            </div>

            <div class="separator-h"></div>
           
            <button id="save-back-btn" class="button button-stacked">Back</button>
        </div>
    </div>

    <div id="load-menu" class="menu hidden">
        <div id="load-menu-flex" class="menu-flex">
            <!-- <div id="load-9-slot" class="load-slot" data-slot="9">
                <div id="load-9-labels" class="labels">
                    <div id="load-9-info" class="tooltip tooltip-info">
                        <p>INFO tooltip</p>
                    </div>
                    <div id="load-9-tooltip" class="tooltip tooltip-confirm hidden">
                        <p>CLICK tooltip xxxxxxxxxxxxxxxxxxxxxxx</p>
                    </div>
                </div>
                <button id="load-9-cancel-btn" class="button button-stacked button-sliding button-cancel" data-cancelling="load-9-btn">❌</button>
                <button id="load-9-confirm-btn" class="button button-stacked button-sliding button-confirm">✔️</button>
                <button id="load-9-btn" class="button button-stacked button-load">TEST</button>
            </div>
            <div class="separator-h"></div> -->

            <div id="load-0-slot" class="load-slot" data-slot="0">
                <div id="load-0-labels" class="labels">
                    <div id="load-0-info" class="tooltip tooltip-info">
                        <p>INFO Quick Save</p>
                    </div>
                    <div id="load-0-tooltip" class="tooltip tooltip-confirm hidden">
                        <p>Load map from Quick Slot?</p>
                    </div>
                </div>
                <button id="load-0-cancel-btn"
                    class="button button-stacked button-sliding button-cancel" data-cancelling="load-0-btn" data-text=" Cancel ">❌</button>
                <button id="load-0-confirm-btn" class="button button-stacked button-sliding button-confirm" data-text=" OK ">✔️</button>
                <button id="load-0-btn" class="button button-stacked button-load">Quick Slot</button>
            </div>
            <div class="separator-h"></div>

            <div id="load-1-slot" class="load-slot" data-slot="1">
                <div id="load-1-labels" class="labels">
                    <div id="load-1-info" class="tooltip tooltip-info">
                        <p>INFO Save 1</p>
                    </div>
                    <div id="load-1-tooltip" class="tooltip tooltip-confirm hidden">
                        <p>Load map from Slot 1?</p>
                    </div>
                </div>
                <button id="load-1-cancel-btn"
                    class="button button-stacked button-sliding button-cancel" data-cancelling="load-1-btn" data-text=" Cancel ">❌</button>
                <button id="load-1-confirm-btn" class="button button-stacked button-sliding button-confirm" data-text=" OK ">✔️</button>
                <button id="load-1-btn" class="button button-stacked button-load">Slot 1</button>
            </div>
            <div class="separator-h"></div>

            <div id="load-2-slot" class="load-slot" data-slot="2">
                <div id="load-2-labels" class="labels">
                    <div id="load-2-info" class="tooltip tooltip-info">
                        <p>INFO Save 2</p>
                    </div>
                    <div id="load-2-tooltip" class="tooltip tooltip-confirm hidden">
                        <p>Load map from Slot 2?</p>
                    </div>
                </div>
                <button id="load-2-cancel-btn"
                    class="button button-stacked button-sliding button-cancel" data-cancelling="load-2-btn" data-text=" Cancel ">❌</button>
                <button id="load-2-confirm-btn" class="button button-stacked button-sliding button-confirm" data-text=" OK ">✔️</button>
                <button id="load-2-btn" class="button button-stacked button-load">Slot 2</button>
            </div>
            <div class="separator-h"></div>

            <div id="load-3-slot" class="load-slot" data-slot="3">
                <div id="load-3-labels" class="labels">
                    <div id="load-3-info" class="tooltip tooltip-info">
                        <p>INFO Save 3</p>
                    </div>
                    <div id="load-3-tooltip" class="tooltip tooltip-confirm hidden">
                        <p>Load map from Slot 3?</p>
                    </div>
                </div>
                <button id="load-3-cancel-btn"
                    class="button button-stacked button-sliding button-cancel" data-cancelling="load-3-btn" data-text=" Cancel ">❌</button>
                <button id="load-3-confirm-btn" class="button button-stacked button-sliding button-confirm" data-text=" OK ">✔️</button>
                <button id="load-3-btn" class="button button-stacked button-load">Slot 3</button>
            </div>
            <div class="separator-h"></div>
            <button id="load-back-btn" class="button button-stacked">Back</button>
        </div>
    </div>

</body>

</html>