<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/mapStyle.css">
    <link rel="stylesheet" href="../css/mapStyleToolbar.css">
    <!-- <link rel="stylesheet" th:href="@{../css/mapStyle.css}"> -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../jsDungeonMap/dungeonMap.js" defer type="module"></script>
    <!-- defer ładuje skrypt dopiero po załadowaniu strony, module umożliwia import/export w JSie-->
</head>

<body>

    <div id="container-grid">
        <div class="blank"></div>
        <div class="coordinate-legend" id="coord-top">
            <div class = "blank" th:style="'grid-area: 1 / 1 / 2 / ' + ${colNumbers[colNumbers.length - 1] + 2}"></div>
            <th:block th:each="colNo: ${colNumbers}">
                <div th:id="'col-' + ${colNo}" th:class="'tile-legend'" th:style="'grid-area: 1 / ' + ${colNo + 1} + ' / 2 / ' + ${colNo + 2}">
                    <p th:text="${colNo}"></p>
                </div>
            </th:block>
        </div>
        <div class="coordinate-legend" id="coord-side">
            <div class = "blank" th:style="'grid-area: 1 / 1 / ' + ${rowNumbers[rowNumbers.length - 1] + 2} + ' / 2'"></div>
            <th:block th:each="rowNo: ${rowNumbers}">
                <div th:id="'row-' + ${rowNo}" th:class="'tile-legend'" th:style="'grid-area: ' + ${rowNo + 1} + ' / 1 / ' + ${rowNo + 2} + ' / 2'">
                    <p th:text="${rowNo}"></p>
                </div>
            </th:block>
        </div>
        <div class="stage-grid" id="grid">
            <th:block th:each="tile: ${tiles}">
                <div th:id="${tile.x} + '-' + ${tile.y}" th:class="'tile '+${tile.type}"
                    th:style="'grid-area: ' + ${tile.y+1} + '/' + ${tile.x+1} + '/' + ${tile.y+2} + '/' + ${tile.x+2} + ';'">
                </div>
                <!-- th:text="'(' + ${tile.x} + '-' + ${tile.y} + ')'" -->
                <div th:id="${tile.x} + 'x' + ${tile.y}" th:class="'fog-tile'"
                    th:style="'grid-area: ' + ${tile.y+1} + '/' + ${tile.x+1} + '/' + ${tile.y+2} + '/' + ${tile.x+2} + ';'">
                </div>
            </th:block>
            <div id="cross-highlight-row" class="non-reactive"></div>
            <div id="cross-highlight-col" class="non-reactive"></div>
        </div>
    </div>

    <div class="toolbar">
        <div id="move-ctrl" class="move-container move-container-hover">
            <div id="move-margin"></div>
            <div id="move-grid">
                <div id="move-up" class="move-button"><img class="move-img" src="../images/dungeonMap/arrow.svg"></div>
                <div id="move-left" class="move-button"><img class="move-img" src="../images/dungeonMap/arrow.svg"></div>
                <div id="move-right" class="move-button"><img class="move-img" src="../images/dungeonMap/arrow.svg"></div>
                <div id="move-down" class="move-button"><img class="move-img" src="../images/dungeonMap/arrow.svg"></div>
                <button id="move-party-btn" class="button" disabled>Move Party</button>
            </div>
            <button id="spawn-party-btn" class="button" disabled>Spawn Party</button>
        </div>
        <button id="action-btn" class="button" disabled>Action</button>
        <div id = "misc-container">
            <!-- <div class="separator"></div> -->
            <button id="save-btn" class="button button-stacked">Save</button>
            <div class="separator"></div>
            <button id="load-btn" class="button button-stacked">Load</button>
        </div>
        

    </div>

    

</body>

</html>