<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div class="container">
    <div class="infobox" th:object="${backpack}">
        <div th:inline="text">
            Left hand slot: [[${backpack.leftHandSlot} ? ${backpack.leftHandSlot.name} : 'No equipment']]
        </div>
        <div th:inline="text">
            Right hand slot: [[${backpack.rightHandSlot} ? ${backpack.rightHandSlot.name} : 'No equipment']]
        </div>
        <div th:inline="text">
            Chest slot: [[${backpack.chestSlot} ? ${backpack.chestSlot.name} : 'No equipment']]
        </div>
        <div th:inline="text">
            Feet slot: [[${backpack.feetSlot} ? ${backpack.feetSlot.name} : 'No equipment']]
        </div>
        <div th:inline="text">
            Arms slot: [[${backpack.armsSlot} ? ${backpack.armsSlot.name} : 'No equipment']]
        </div>
        <div>
            Hero's Backpack:
        </div>
        <div th:each="item : ${backpack.getBaggage()}">
            <div th:text="${item.key + 1} + '. ' + ${item.value.getName()}">
            </div>
        </div>
    </div>
</div>
<div></div>

</body>

</html>