<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/editEquipment.css">
    <script th:inline="javascript">
        const currentHeroBackpack = [[${backpack}]];



    </script>
    <script src="editEquipment.js"></script>
</head>

<body>
<div>
    <div class="infobox" th:object="${backpack}">
        <div class="container">
            <div class="container-inner left" th:inline="text">
                <div class="empty-box" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" th:with="imageUrl=(${backpack.headSlot != null} ? '../images/'+${backpack.headSlot.name}+'.png' : '../images/Equipment/emptyHead.png')">
                    <img src="../images/Equipment/emptyEquipmentSlot.png"/>
                    <img class="inner-pics"  th:src="${imageUrl}"/>
                </div>
                <div class="empty-box" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" th:with="imageUrl=(${backpack.rightHandSlot != null} ? '../images/'+${backpack.rightHandSlot.name}+'.png' : '../images/Equipment/emptyWeapon.png')">
                    <img src="../images/Equipment/emptyEquipmentSlot.png"/>
                    <img class="inner-pics" th:src="${imageUrl}"/>
                </div>
                <div class="empty-box" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" ondrop="drop(event)" th:with="imageUrl=(${backpack.chestSlot != null} ? '../images/'+${backpack.chestSlot.name}+'.png' : '../images/Equipment/emptyArmor.png')">
                    <img src="../images/Equipment/emptyEquipmentSlot.png"/>
                    <img class="inner-pics" th:src="${imageUrl}"/>
                </div>
            </div>
            <div class="container-silhouette">
                <img src="../images/Equipment/silhouette.png"/>
            </div>
            <div class="container-inner right" th:inline="text">
                <div class="empty-box" ondrop="drop(event)" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" th:with="imageUrl=(${backpack.armsSlot != null} ? '../images/'+${backpack.armsSlot.name}+'.png' : '../images/Equipment/emptyArms.png')">
                    <img src="../images/Equipment/emptyEquipmentSlot.png"/>
                    <img class="inner-pics" th:src="${imageUrl}"/>
                </div>
                <div class="empty-box" ondrop="drop(event)" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" th:with="imageUrl=(${backpack.leftHandSlot != null} ? '../images/'+${backpack.leftHandSlot.name}+'.png' : '../images/Equipment/emptyShield.png')">
                    <img src="../images/Equipment/emptyEquipmentSlot.png"/>
                    <img class="inner-pics" th:src="${imageUrl}"/>
                </div>
                <div class="empty-box" ondrop="drop(event)" draggable="true" ondragstart="drag(event)" ondragover="allowDrop(event)" th:with="imageUrl=(${backpack.feetSlot != null} ? '../images/'+${backpack.feetSlot.name}+'.png' : '../images/Equipment/emptyFeet.png')">
                    <img src="../images/Equipment/emptyEquipmentSlot.png"/>
                    <img class="inner-pics" th:src="${imageUrl}"/>
                </div>
            </div>
        </div>

        <div>
            <p>Hero's Backpack:</p>
        </div>
        <div th:each="item : ${backpack.getBaggage()}">
            <div class="backpack-item" th:inline="text">
                <img th:src="${item.value.name == 'NO EQUIPMENT'} ? '../images/Equipment/emptyEquipmentSlot.png' : '../images/Equipment/demoEquipment.png'"/>
            </div>
        </div>
        <!--        <button onclick="test()"></button>-->
    </div>
</div>
<div></div>

</body>

</html>