<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Fight!</title>
    <link rel="stylesheet" href="../css/encounterBoard.css">
    <script th:inline="javascript">
        const height = [[${boardHeight}]];
        const width = [[${boardWidth}]];
        let heroes = [[${heroes}]];
        let monsters = [[${monsters}]];
        let tiles = [[${tiles}]];
        let initiativeOrder = [[${initiativeOrder}]]
        document.documentElement.style.setProperty("--height", height);
    </script>
    <script src="encounterBoard.js"></script>
</head>
<body>
<button id="exit-btn" class="button" onclick="exitToMap()">Exit to map</button>
<div class="grid-container">
    <div class="hero-portraits">
        <th:block th:each="hero : ${heroes}">
            <div th:with="currentHero=${hero.getName()} + '|||' + ${hero.getSurname()}">
                <img th:onclick="'javascript:selectCharacter(\'' + ${currentHero} + '\')'" th:id="${currentHero}"/>
                <a th:href="'/editEquipment?heroNameAndSurname='+${hero.getName()} + '---' + ${hero.getSurname()}"
                   class="equipment">
                    <img src="../images/equipment.png">
                </a>
                <div class="area">
                    <div class="total"></div>
                    <div class="health-box">
                        <button th:onclick="'javascript:testRemoveHp(\'' + ${currentHero} + '\')'"> Hit</button>
                        <button th:onclick="'javascript:testAddHp(\'' + ${currentHero} + '\')'"> Heal</button>
                        <div th:id="${hero.getName()} + '|||' + ${hero.getSurname()} + '|||hp-red'"
                             class="health-bar-red"></div>
                        <div th:id="${hero.getName()} + '|||' + ${hero.getSurname()} + '|||hp-blue'"
                             class="health-bar-blue"></div>
                        <div th:id="${hero.getName()} + '|||' + ${hero.getSurname()} + '|||hp-green'"
                             class="health-bar"></div>
                        <div th:id="${hero.getName()} + '|||' + ${hero.getSurname()} + '|||hp-text'"
                             class="health-bar-text"></div>
                    </div>
                    <div class="magic-shield-box">
                        <button th:onclick="'javascript:testRemoveMagicShield(\'' + ${currentHero} + '\')'"> Hit
                        </button>
                        <button th:onclick="'javascript:testAddMagicShield(\'' + ${currentHero} + '\')'"> Heal</button>
                        <div th:id="${hero.getName()} + '|||' + ${hero.getSurname()} + '|||mshield-red'"
                             class="health-bar-red"></div>
                        <div th:id="${hero.getName()} + '|||' + ${hero.getSurname()} + '|||mshield-blue'"
                             class="health-bar-blue"></div>
                        <div th:id="${hero.getName()} + '|||' + ${hero.getSurname()} + '|||mshield-green'"
                             class="magic-bar"></div>
                        <div th:id="${hero.getName()} + '|||' + ${hero.getSurname()} + '|||mshield-text'"
                             class="magic-bar-text"></div>
                    </div>
                    <div class="physical-shield-box">
                        <button th:onclick="'javascript:testRemovePhysicalShield(\'' + ${currentHero} + '\')'"> Hit
                        </button>
                        <button th:onclick="'javascript:testAddPhysicalShield(\'' + ${currentHero} + '\')'"> Heal
                        </button>
                        <div th:id="${hero.getName()} + '|||' + ${hero.getSurname()} + '|||pshield-red'"
                             class="health-bar-red"></div>
                        <div th:id="${hero.getName()} + '|||' + ${hero.getSurname()} + '|||pshield-blue'"
                             class="health-bar-blue"></div>
                        <div th:id="${hero.getName()} + '|||' + ${hero.getSurname()} + '|||pshield-green'"
                             class="physical-bar"></div>
                        <div th:id="${hero.getName()} + '|||' + ${hero.getSurname()} + '|||pshield-text'"
                             class="physical-bar-text"></div>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
    <div class="monster-portraits">

    </div>
    <div class="initiative-bar">
        <th:block th:each="character : ${initiativeOrder}">
            <div th:id="'init|||'+${character.initiative}" class="initiative-bar-box"
                 th:classappend="${character.active} ? initiative-bar-active : initiative-bar-box">
                <img th:src="${character.imageLink}"/>
            </div>
        </th:block>
    </div>
    <div class="board">
        <th:block th:each="i: ${#numbers.sequence(1, boardWidth)}">
            <th:block th:each="j: ${#numbers.sequence(1, boardHeight)}">
                <div th:with="currentHeroId='hero:'+${i}+'---'+${j}">
                    <div th:with="currentId=${i}+'---'+${j}">
                        <div class="inner-container" th:with="imageUrl=(${tileImages.get(currentId)})">
                            <div th:id="container+${currentId}"
                                 th:onclick="'javascript:moveTheHero(\'' + ${currentId} + '\');'">
                            </div>
                            <img class="hero-images" th:id="${currentHeroId}"/>
                            <img class="background-images" th:id="${currentId}" th:src="${imageUrl}"/>
                        </div>
                    </div>
                </div>
            </th:block>
        </th:block>
    </div>
    <div class="skill-bar-container">
        <div id="current-hero-skills" class="skill-bar">
        </div>
    </div>
</div>
<script>
    initialize();
</script>
</body>
</html>