<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/encounterBoard.css">
    <script th:inline="javascript">
        let height = [[${boardHeight}]];
        let width = [[${boardWidth}]];
        document.documentElement.style.setProperty("--height", height);
    </script>
    <script src="encounterBoard.js"></script>
</head>
<body>
<div class="wrapper">
    <th:block th:each="i: ${#numbers.sequence(1, boardWidth)}">
        <th:block th:each="j: ${#numbers.sequence(1, boardHeight)}">
            <div th:id="${i}+'---'+${j}">
                <img th:src="@{tiles[${i}][${j}].getTileType().toString().equalsIgnoreCase('Grass')} ? 'GRASS' : 'Not Grass'" />
            </div>
        </th:block>
    </th:block>
</div>

</body>
</html>