<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Fight!</title>
    <link rel="stylesheet" href="../css/fightBoardStyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

<body>
    <div class="container">
        <div class="view">
            <p th:text="${consoleText}"></p>
            <div class="heroSprites">
                <img class="firstHero" src="../images/Idle (1).png" alt="hero1">
                <img class="secondHero" src="../images/Idle (1).png" alt="hero2">
                <img class="thirdHero" src="../images/Idle (1).png" alt="hero3">
            </div>
            <div class="monsterSprites">
                <img class="firstMonster" src="../images/Idle__001.png" alt="monster1">
                <img class="secondMonster" src="../images/Idle__001.png" alt="monster1">
                <img class="thirdMonster" src="../images/Idle__001.png" alt="monster1"></div>
        </div>
        <div class="info grid-container">

            <div class="heroBoard">
                <ul th:each="hero: ${heroes}">
                    <li><a th:href="@{/fightBoard/selectHero(heroName=${hero.getName()})}"
                            th:text="${hero.getName()}"></a>
                        <p th:text="${hero.getHeroClass()}"></p>
                        <p th:text="${hero.getHp()}"></p>
                        <p th:text="${hero.getWeaponName() + '(' + hero.getEquippedWeapon().getDamageDealt() + ')'}">
                        </p>
                        <p th:text="${hero.getArmorName() + '(' + hero.getEquippedArmor().getDamageReduction() + ')'}">
                        </p>
                        <p th:text="${hero.isAlive()}"></p>
                        <p th:text="${hero.isAlive()}"></p>
                        <p th:text="${hero.getTotalHp()}"></p>
                    </li>
                </ul>
                <a class="attack" th:href="@{/fightBoard/attackMonster}">Attack the monster</a>
            </div>
            <div class="monsterBoard">
                <ul th:each="monster: ${monsters}">
                    <li><a th:href="@{/fightBoard/selectMonster(monsterName=${monster.getName()})}"
                            th:text="${monster.getName()}"></a>
                        <p th:text="${monster.getRace()}"></p>
                        <p th:text="${monster.getHp()}"></p>
                        <p th:text="${monster.getDamageStrength()}"></p>
                        <p th:text="${monster.isAlive()}"></p>
                    </li>
                </ul>
                <a class="attack" th:href="@{/fightBoard/attackHero}">Attack the hero</a>
            </div>
</body>

</html>