<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dungeon Crawler Rawr</title>
    <link rel="stylesheet" href="../static/css/mainMenuStyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">
</head>
<body>
    <div class="menu-container">
        <h1>Dungeon Crawler</h1>
        <a href="#" class="menu-newGame">New Game</a>
        <a href="#" class="menu-loadGame">Load Game</a>
        <a href="#" class="menu-about">About</a>
        <a href="#" class="menu-exit">Exit</a>
    </div>
    <div class="container">
        <div id="cloud-intro"></div>
      </div>
</body>
</html>