<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merchant</title>
    <link rel="stylesheet" href="../css/merchant.css">
</head>

<body>
    <div class="container">
        <div class="image__container">
            <img src="../images/merchant/seller1.png" alt="merchant wizard">
        </div>
        <div class="button__container">
            <a href="shop">Trade</a>
            <a class="btn-gossip">Gossip</a>
            <a href="mainMenu">Back to Menu</a>
            <p class="gossip">I have wares if you have coin</p>
        </div>
    </div>
</body>

</html>