<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Save game</title>
    <link rel="stylesheet" href="../css/saveGameStyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">
    <script th:src="@{saveGame.js}"></script>
    <script type="text/javascript">
    window.onload = loadAllSelectedHeroes;
    </script>
</head>

<body>
<div class="container">
    <h1 class="title">My team</h1>
    <div class="content">
    <div class="infobox" th:each="hero: ${heroTeam}" th:value="${hero.getName() + hero.getSurname()}">
        <p th:text="|Name: ${hero.getName()}|"></p>
        <p th:text="|Class: ${hero.getHeroClass()}|"></p>
        <p th:text="|Number of hp: ${hero.getHp()}|"></p>
        <p th:text="|Current weapon: ${hero.getWeaponName() + ' (damage dealt: ' + hero.getEquippedWeapon().getDamageDealt() + ')'}|"></p>
        <p th:text="|Current armour: ${hero.getArmorName() + ' (damage reduction: ' + hero.getEquippedArmor().getDamageReduction() + ')'}"></p>
        <p th:text="${hero.isSelectedForParty()} ? 'selected' : 'unselected'" hidden></p>
    </div>
    </div>
    <button th:onclick="'javascript:saveGame();'">Save Game</button>
</div>
</body>
</html>